{% extends 'base.html.twig' %}

{% block title %}Modifier la Catégorie{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12 text-center my-5">Modifier la Catégorie</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}