/* Variables contenant les couleurs du thème du site */
:root{
    --forum-darkblue: #001730;
    --forum-lightblue: #4AD7D1;
    --forum-orange: #FE4A49;
}

/* Importation des polices */
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.ttf');
}

/* Global */
body {
    font-family: Roboto, sans-serif;
}
a{
    text-decoration: none;

}
.bg-darkblue {
    background-color: var(--forum-darkblue);
    color: #eaeaea;
}
.bg-lightblue {
    background-color: var(--forum-lightblue);
}
.bg-orange {
    background-color: var(--forum-orange);
}
.color-darkblue{
    color: var(--forum-darkblue);
}
.btn.btn-darkblue {
    background-color: var(--forum-darkblue);
    color: #eaeaea;
    border-radius: 30px;
    border: 3px solid var(--forum-lightblue);
}
.btn.btn-darkblue:hover{
    background-color: var(--forum-orange);
}
/* Nécessaire à base.html.twig */
.nav-link, .dropdown-item{
    color: #eaeaea;
}
.nav-link:hover, .dropdown-item:hover{
    color: var(--forum-lightblue);
}
.img-logo {
    width: 50px;
}

/* Menus pagination */
.pagination .page-item .page-link{
    background-color: var(--forum-darkblue);
    color: #eaeaea;
    border-radius: 30px;
    border: 3px solid var(--forum-lightblue);
}

.pagination .page-item.disabled{
    background-color: var(--forum-darkblue);
    color: grey;
    border-radius: 30px;
}

.pagination .page-item.disabled .page-link, .pagination .page-item.active .page-link{
    color: grey;
    border-radius: 30px;
    border: 3px solid grey;
}

.pagination .page-item a.page-link:hover{
    background-color: var(--forum-orange);
    color: #eaeaea;
}
/*
.page-item:not(.disabled) {
    margin: 0.5rem; todo : ajoute de la marge au contenu du bouton de navigation disabled
}
*/