{% extends 'base.html.twig' %}

{% block title %}Liste des forums{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 bg-warning mt-5">
            <h3>Fil d'ariane</h3>
        </div>
    </div>

 
    <div class="row mt-5 p-3 bg-dark">
        <div class="col-8 ms-5 bg-warning text-center">
            <h3>Nom de la catégorie principale</h3>
            <p>Description</p>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-end">
            <button class="btn btn-primary">Créer une discussion</button>
        </div>
    </div>

    <div class="row">
        {# Catégories principales #}
        <div class="col-6 offset-3 offset-lg-0 col-lg-9">
            <h2>Liste des forums</h2>
            <div class="row pb-4 mb-4 justify-content-lg-start">
            {% for forumlist in forumlists %}

                <div class="col-12 col-md-6 col-lg-2 my-2">
                    <a href="">
                        <div class="category w-100 d-flex flex-column justify-content-center bg-lightblue p-1 rounded-3">
                            <img src="{{ asset('images/categories/' ~ forumlist.image ) }}" class="img-fluid" alt="...">
                            <div class="category-title mt-1">
                                <h6 class="text-white fs-6 fs-lg-3">{{ forumlist.title|capitalize }}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% if is_granted('ROLE_MODERATOR') %}
                    <div class="col-12 col-md-6 col-lg-2 my-2 d-flex align-items-center">
                        <a href="{{ path('category_new_subcategory',{slug: forumlist.slug}) }}"><button class="btn btn-darkblue">Ajouter un forum</button></a>
                    </div>
                {% endif %}
            </div>
        </div>


    </div>

    <div class="row mt-5">
        <div class="col-12 bg-white">
            <h1>Messages postés</h1>
            <div class="row">
                <div class="col-12">
                    <div class="row mt-1">
                        <div class="col-md-12">
                            <div class="container-profil-photo">
                                <img src="https://image.flaticon.com/icons/png/128/3237/3237472.png" alt="Admin" class="rounded-circle profil-photo" width="150">
                            </div>
                            <a class="profil-title" href="#"> Titre du sujet : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et inventore
                                pariatur voluptas!</a>
                            <div class="profil-content">
                                Message de l'utilisateur : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur fugit inventore, natus pariatur quas sequi temporibus! Debitis enim fugit, itaque odio reiciendis ut vero?
                            </div>
                            <div class="col-12 text-left">
                                <p class="mx-5">Pseudo - jj/mm/aaaa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}