{% extends 'base.html.twig' %}

{% block title %}Liste des forums{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h3>Fil d'ariane</h3>
        </div>
    </div>

 
    <div class="row mt-5 p-3 bg-dark">
            <h3 class ="text-light">{{subcategory.title}}</h3>
    </div>

    <div class="row">
        {# Catégories principales #}
        <div class="col-6 offset-3 offset-lg-0 col-lg-9">
            <h2>Liste des forums</h2>
            <div class="row pb-4 mb-4 justify-content-lg-start">
            {% for forums in subcategory.forums %}

                <div class="col-12 card">
                    <div class="row">
                        <!-- Profil de l'utilisateur (pseudo, rôle, photo de profil si il y'en as une, date d'inscription, nombre de messages) (bonne chance pour le
                        responsive) -->
                        <div class="col-2 bg-primary">
                            <div class="d-block offset-3 col-sm-6 mt-2 p-4 bg-dark text-white">image</div>
                        </div>
                        <div class="col-10 p-2">
                            <p class="mt-2">{{forums.content}}</p>
                            <p class="mt-5">{{forums.author.pseudonym}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if is_granted('ROLE_MODERATOR') %}
                    <div class="col-12 col-md-6 col-lg-2 my-2 d-flex align-items-center">
                        <a href="{{path('new_forum',{slug: subcategory.slug})}}"><button class="btn btn-darkblue">Ajouter un forum</button></a>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="row mt-5">

    </div>
</div>



{% endblock %}