{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Profil{% endblock %}

{# contenu de la page profil #}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Ajouter une catégorie</h1>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}